<%- include('./partials/header') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
    <input type="text" name="skill" value="<%= skill.skill %>"><br>
    <label>
      <input type="checkbox" name="done" <%= skill.good ? 'checked' : '' %>>
      Completed
    </label><br>
    <button type="submit">Update</button>
  </form>

<%- include('./partials/footer') %>