<%- include('../partials/header') %>

<h3><%= skill.skill %></h3>
<h3>Proficiency: <%= skill.good ? 'Good' : 'Not Good' %></h3>
<a href="/skills/<%= skill.id %>/edit">Edit Skill</a><br>
<form action="/skills/<%= skill.id %>?_method=DELETE" method="POST" class="delete-form">
    <button type="submit">Delete Skill</button>
</form>

<%- include('../partials/footer') %>